<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExamApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        
.simple-radio {
  padding-left: 30px;
  margin: 2rem 0;
}

.simple-radio ul {
  counter-reset: section;
}

.simple-radio li {
  display: block;
  line-height: 1.2em;
  width: 50%;
  color: #636363;
  border: 1px solid #ccc;
  counter-increment: section;
  cursor: pointer;
  margin: .5em .5em .5em 0;
  padding: .4em .4em .4em 1.8em;
}

.simple-radio li:before {
  content: counter(section, upper-alpha) " ";
  border:1px solid #ccc;
  margin-left: -20px!important;
  font-size: 14px;
  text-align: center;
  color: #999;
  border-radius: 20%;
  margin-right: 10px;
  padding: 0 1px 0 4px;
}

.simple-radio li:hover:before, .simple-radio li.checked:before {
  color: #fff;
}



.simple-radio .check {
  display: inline-block;
  text-align: center;
  width: 1.5em;
  line-height: 1em;
  padding-top: .2em;
  float: right;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.simple-radio input,
.simple-radio li .check .yes,
.simple-radio li.checked .check .no {
  display: none;
}

.simple-radio li:hover,
.simple-radio li.checked {
  background-color: #4F5675;
  color: #ffffff;
}



.correct{
     background-color: green !important;
     color:white !important ;
}
.incorrect{
     background-color: red !important;
}


    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
              
                 
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - serk4ng</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        // simple radio - sets up shop

$('.s1 li').each(function(index) {
  if ($('input', this).prop('checked')) {
    $(this).addClass('checked');
  }
});

// simple radio - listen for click
$('.s1 li').click(function() {

  $('.s1 input').removeAttr('checked');
  $('input', this).attr('checked', 'checked');
  $('input', this).prop({
    checked: true
  });
  $('.s1 li').removeAttr('class');
  $(this).addClass('checked');

});






$('.s2 li').click(function() {

  $('.s2 input').removeAttr('checked');
  $('input', this).attr('checked', 'checked');
  $('input', this).prop({
    checked: true
  });
  $('.s2 li').removeAttr('class');
  $(this).addClass('checked');

});



$('.s3 li').click(function() {

  $('.s3 input').removeAttr('checked');
  $('input', this).attr('checked', 'checked');
  $('input', this).prop({
    checked: true
  });
  $('.s3 li').removeAttr('class');
  $(this).addClass('checked');

});


$('.s4 li').click(function() {

  $('.s4 input').removeAttr('checked');
  $('input', this).attr('checked', 'checked');
  $('input', this).prop({
    checked: true
  });
  $('.s4 li').removeAttr('class');
  $(this).addClass('checked');

});
    </script>
</body>
</html>
